<div class="spinner-border text-info" role="status"  *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>
<div class="panel panel-primary" *ngIf="!loading">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <!-- <div class="row">
    <div class="col-12 login-section">
      <div class="form-group">
        <input type="text" [formControl]="filter" placeholder="Filter Users">
      </div>
    </div>
  </div> -->
  <div *ngIf="(users$ | async)?.length == 0">
    No Records available!!!
  </div>
  <div class="table-responsive" *ngIf="(users$ | async)?.length >= 1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | paginate:{itemsPerPage: 5, currentPage:p}">
          <td>{{user.userName}}</td>
          <td>{{user.emailId}}</td>
          <td><button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
            <button (click)="updateUser(user.id)" class="btn btn-success" style="margin-left: 10px">Update</button>
            <button (click)="userDetails(user.uId)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div>
